body{
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
	padding-top: 1px;
	position: relative;
	font-family: monospace, mono;
	background-color: #272727;
	color: white;
	min-height: 100vh;
}

#map{
	width: 100%;
}

.content{
	max-width: 640px;
	margin: auto;
}

a{
	color: #ccc;
}
a:hover{
	color: white;
}

footer{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1px 10px;
	background-color: #222;
	color: #aaa;
}

footer p{
	font-size: 15px;
}

h1{
	font-size: 30px;
	font-weight: 100;
	text-decoration: underline;
}

.button {
	background-color: #181818;
	text-align: center;
	margin: 5px auto;
	width: 130px;
	padding: 10px;
	display: inline-block;
}

.button:hover{
	cursor: pointer;
	background-color: black;
}


.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}